		<header class="site-header">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="#">
								<img class="logo" src="images/open-path-logo-new.webp" />
							</a>
						</h1>
						<section class="hero">
							<div class="container">	
								<div class="hero-inner">
									<div class="hero-copy">
										<h1 class="hero-title h2-mobile mt-0 is-revealing">{{ .Site.Params.Content.LeadTitle | markdownify }}</h1>
										<p class="hero-paragraph is-revealing">{{ .Site.Params.Content.LeadDescription | markdownify }}</p>
										{{ if .Site.Params.Content.ButtonCaption }}
										<p class="hero-cta is-revealing"><a class="button button-primary button-shadow" href="{{ .Site.Params.Content.ButtonURL}}">{{ .Site.Params.Content.ButtonCaption | markdownify }}</a></p>
										{{ end }}							
									</div>
									<div class="hero-illustration is-revealing">
										<img src="images/in-home-massage.jpg" />
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</header>
