{{ define "main" }}
{{ $data := index site.Data }}

			<section class="features section text-center">
				<div class="section-square"></div>
				<div class="container">
					<div class="features-inner section-inner">
                        <div class="features-wrap">
							{{ range site.Params.feature }}
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ .FeatureImage }}">
                                    </div>
                                    <h4 class="feature-title h3-mobile">{{ .FeatureTitle }}</h4>
                                    <p class="text-sm">{{ .FeatureDescription }}</p>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
				</div>
			</section>
            <!-- Services -->
            {{ if $data.homepage.services.enable }}
                {{ partial "services.html" . }}
            {{ end }}
            <!-- /services -->
            <!-- Call to action -->
            {{ if $data.homepage.cta.enable }}
                {{ partial "cta.html" . }}
            {{ end }}
            <!-- /Call to action -->
            <!-- Call to action -->
            {{ if $data.homepage.funfacts.enable }}
              {{ partial "slider.html" . }}
            {{ end }}
            <!-- /Call to action -->

			<section class="pricing section">
				<div class="section-square"></div>
				<div class="container">
					<div class="pricing-inner section-inner">
                        <h2 class="section-title mt-0 text-center" id="Pricing">Pricing</h2>
                        <div class="pricing-tables-wrap">
							{{ range site.Params.pricing }}
                            <div class="pricing-table">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header is-revealing">
                                            <div class="pricing-table-title mt-12 mb-8">{{ .PricingTitle }}</div>
                                            <div class="pricing-table-price mb-32 pb-24"><span class="pricing-table-price-currency h4">$</span><span class="pricing-table-price-amount h2">{{ .PricingRate }}</span>{{ .PricingFrequency }}</div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mt-24 mb-56">
											{{ range .Features }}
                                            <li class="is-revealing">
                                                <span class="list-icon">
                                                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill="#5FFAD0" fill-rule="nonzero" d="M5.6 8.4L1.6 6 0 7.6 5.6 14 16 3.6 14.4 2z"/>
                                                    </svg>
                                                </span>
                                                <span>{{ .Description }}</span>
                                            </li>    
											{{ end }}
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta is-revealing">
                                        <a class="button button-primary button-shadow button-block" href="{{ .ButtonURL }}">{{ .ButtonCaption }}</a>
                                    </div>
                                </div>
                            </div> 
							{{ end }}
                        </div>
                    </div>
				</div>
			</section>
{{ end }}
